*.pyc
*.egg-info/*
.*.swp
src*
!API/src
!OAUtils/src
.Python
build/*
dist/*
local.cfg

.idea/
service/tests/resources/report_test*.csv
logfile.log
airflow/airflow-webserver.pid
airflow/airflow_logs/*
!airflow/airflow_logs/.keep

