# In order to install jper you need to run
# pip install -r requirements.txt
# (i.e. target this file with the -r switch on pip).

# install esprit
# git+https://github.com/OA-DeepGreen/esprit.git@590fdfb92957bf4a11dbde32fd9d7e8133fd6165#egg=esprit
git+https://github.com/OA-DeepGreen/esprit.git@f3152c12dc32df3f6c835d1de05b4ba68d1e0ccb#egg=esprit

# install octopus (initialise the submodule first)
-e magnificent-octopus

# now run the normal setup.py and get all the normal PyPI dependencies from there
-e .
