<form class="form" action="" method="POST">
    <div class="row line-space">
        <div class="col span-9">
            {% include 'delete_notifications/form/_select_type.html' %}
            {% include 'delete_notifications/form/_delete_single.html' %}
            {% include 'delete_notifications/form/_delete_routed_and_failed.html' %}
            {% include 'delete_notifications/form/_delete_errored.html' %}
            {% include "delete_notifications/form/_filter_notifications.html" %}
            {% include "delete_notifications/form/_form_fields_for_all_choices.html" %}
            {% include "delete_notifications/form/_form_submit.html" %}
        </div>
    </div>
</form>
