<form class="form" action="" method="GET">
  <div class="row line-space">
    <div class="col span-9">
      <ul class="form-fields">
        <li>
          <label>Show routing history</label>
        </li>
        {% for filter in filters %}
          {% if filter['values'] %}
            <li class="form-fields__item--text">
              <label>
                <span class="form-fields__label-text">{{ filter['label'] }}:</span>
                <select name="{{ filter }}">
                  <option value="" {% if filter['selected'] == "" %}selected{% endif %}>Filter by {{ filter['label'] | lower }}</option>
                  {%  for val in filter['values'] %}
                    <option value="{{ val }}" {% if val == filter['selected'] %}selected{% endif %}>{{ val }}</option>
                  {% endfor %}
                </select>
              </label>
            </li>
          {% else %}
            <li class="form-fields__item--text">
              <label>
                <span class="form-fields__label-text">{{ filter['label'] }}:</span>
                <input type="text" name="{{ key }}" value="{{filter['selected']}}"/>
              </label>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row line-space">
    <div class="col span-12">
      <ul class="form-fields">
        <li class="form-fields__item--text">
          <button class="btn btn--3d btn--primary move-up" type="submit">Show</button>
        </li>
      </ul>
    </div>
  </div>
</form>
