<form class="form" action="" method="GET">
  <div class="row line-space">
    <div class="col span-9">
      <ul class="form-fields">
        <li>
          <label>Show routing history</label>
        </li>
        {% for key, val in filters.items() %}
          {% if val['values'] %}
            <li class="form-fields__item--text">
              <label>
                <span class="form-fields__label-text">{{ val['label'] }}:</span>
                <select name="{{ key }}">
                  <option value="" {% if val['selected'] == "" %}selected{% endif %}>Filter by {{ val['label'] | lower }}</option>
                  {%  for v in val['values'] %}
                    <option value="{{ v }}" {% if v == val['selected'] %}selected{% endif %}>{{ v }}</option>
                  {% endfor %}
                </select>
              </label>
            </li>
          {% else %}
            <li class="form-fields__item--text">
              <label>
                <span class="form-fields__label-text">{{ val['label'] }}:</span>
                <input type="text" name="{{ key }}" value="{{val['selected']}}"/>
              </label>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row line-space">
    <div class="col span-12">
      <ul class="form-fields">
        <li class="form-fields__item--text">
          <button class="btn btn--3d btn--primary move-up" type="submit">Show</button>
        </li>
      </ul>
    </div>
  </div>
</form>
