{%  if total > 0 %}
<div class="row line-space">
  <div class="col span-12">
    <table id="routingHistoryTable" class="tablesorter-green">
      <thead>
        <tr>
          <th>Ids</th>
          <th class="sorter-iso8601date">Date Updated</th>
          <th>Workflow</th>
        </tr>
      </thead>
      {% for data in records['hits']['hits'] %}
        {% set record = data['_source'] %}
        {#  First row of results is header. So getting notifications from 2nd row #}
        {#  First column is id #}
        <tr class="tablesorter">
          <td>
              <a href="/routing_history/view/{{ record['id'] }}">record</a><br/>
              {% if record.get('publisher_email', '') and  record.get('publisher_id', '') %}
                <a href="/account/{{ record['publisher_id'] }}">{{ record['publisher_email'] | safe }}</a><br/>
              {% elif record.get('publisher_id', '') %}
                <a href="/account/{{ record['publisher_id'] }}">{{ record['publisher_id'] | safe }}</a><br/>
              {% endif %}
              <dl class="dl-details">
                <dt>File:</dt>
                <dd>{{ record.get('original_file_location', '').split('xfer/')[-1] }}</dd>
                {% if record.get('notification_states', [])|length > 0 %}
                  {% for n_state in record['notification_states'] %}
                    {% if n_state.get('notification_id', '') %}
                      <dt>Notification:</dt>
                      <dd><a href="/api/v1/notification/{{ n_state['notification_id'] }}">{{ n_state['notification_id'] }}</a></dd>
                    {% endif %}
                    {% if n_state.get('doi', '') %}
                      <dt>DOI:</dt>
                      <dd>{{ n_state['doi'] }}</dd>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </dl>
          </td>
          <td>{{ record['last_updated'] | safe }}</td>
          <td><dl>
            {% for workflow in record['workflow_states'] %}
              <div>
                {% if workflow['status'] == 'success' %}
                  <span style="color:green">{{"&check;" | safe }}</span>
                {% else %}
                  <span style="color:red">x</span>
                {% endif %}
                {{ workflow['action'] }}
                {%  if workflow.get('log_url', '') %}
                  <a href="{{ workflow['log_url'] }}"> (log)</a>
                {% endif %}
              </div>
            {% endfor %}
          </dl></td>
          </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}