{%  if total > 0 %}
<div class="row line-space">
  <div class="col span-12">
    <table id="routingHistoryTable" class="tablesorter-green">
      <thead>
        <tr>
          <th>Ids</th>
          <th class="sorter-iso8601date">Date Updated</th>
          <th>Workflow</th>
        </tr>
      </thead>
      {% for data in records['hits']['hits'] %}
        {% set record = data['_source'] %}
        {#  First row of results is header. So getting notifications from 2nd row #}
        {#  First column is id #}
        <tr class="tablesorter">
          <td>
              <a href="/routing_history/view/{{ record['id'] }}">record</a><br/>
              {% if publisher_id == None %}
                <a href="/account/{{ record['publisher_id'] }}">
                  {{ publishers.get(record['publisher_id'], record['publisher_id']) | safe }}</a><br/>
              {% endif %}
              {% for nid in notification_ids[record['id']] %}
                <a href="/api/v1/notification/{{ nid }}">{{ nid }}</a><br/>
              {% endfor %}
          </td>
          <td>{{ record['last_updated'] | safe }}</td>
          <td><dl>
            {% for workflow in record['workflow_states'] %}
              <div>
                {% if workflow['status'] == 'success' %}
                  <span style="color:green">{{"&check;" | safe }}</span>
                {% else %}
                  <span style="color:red">x</span>
                {% endif %}
                {{ workflow['action']}}
              </div>
            {% endfor %}
          </dl></td>
          </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}