<li class="form-fields__item--text">
    <label>
        <span class="form-fields__label-text">From:</span>
        <input type="text" name="since" value="{{since}}"/>
    </label>
</li>
<li>
    <label>
        <span class="form-fields__label-text">To:</span>
        <input type="text" name="upto" value="{{upto}}"/>
    </label>
</li>
<li class="form-fields__item--text">
    <label>
        <span class="form-fields__label-text">Publisher Email</span>
        <select name="publisher_email">
            <option value="" {% if not publisher_email %}selected{% endif %}>Filter by Publisher emails</option>
            {% for val in publisher_emails %}
                <option value="{{ val }}" {% if publisher_email == val %}selected{% endif %}>{{ val }}</option>
            {% endfor %}
        </select>
    </label>
</li>
