<h3>Select type of deletion</h3>
<ul class="form-fields" id="deletion_type">
    <li>
        <label>
            <input type="radio" name="deletion_type" value="single_notification" checked>
            Single notification
        </label>
    </li>
    <li>
        <label>
            <input type="radio" name="deletion_type" value="routed_and_failed">
            Routed and failed notifications
        </label>
    </li>
    <li>
        <label>
            <input type="radio" name="deletion_type" value="errored">
            Notifications with processing errors
        </label>
    </li>
</ul>