<div class="featured">
	<div class="row">
	  	<section class="box box--padding-large box--padding-bottom-none box--notice box--brd-vlgreyblue box--bg-vlgreyblue">
			<div class="span-12 cms">
				<h2>
					{% if account.has_role('admin') %} Admin {% endif %}
					{% if account.has_role('repository') %} Institution Repository {% endif %}
					{% if account.has_role('publisher') %} Publisher {% endif %}
					account details
				</h2>
			</div>
	    	<div class="col span-4 cms">
				<dl>
	            	<dt class="visuallyhidden">Email address</dt>
	            	<dd>{{account.data['email']}}</dd>
                    {% if account.has_role('publisher') and user.get('publisher', {}).get('name', '') %}
                      {{ user['publisher']['name'] }}
                    {% elif account.has_role('repository') and user.get('repository', {}).get('name', '') %}
                      {{ user['repository']['name'] }}
                    {% endif %}
	            </dl>
			</div>
			<div class="col span-8 cms">
            	<dl class="dl-horizontal dl-horizontal--account-details">
	            	{% if current_user.is_super %}
	                <dt>Created</dt>
					<dd>{{account.data['created_date']}}</dd>
					{% endif %}
					<dt>Account <abbr title="Identifier">ID</abbr></dt>
					<dd>{{account.id}}</dd>
					<dt><abbr title="Application Programming Interface">API</abbr> key</dt>
	                <dd>{{account.data['api_key']}}</dd>
				</dl>
			</div>
		</section>
	</div>
</div>