{% include 'account/user/repository/_matching_details_form.html' %}
{% include 'account/user/repository/_matching_details_link.html' %}
{% include 'account/user/repository/_routing_history_link.html' %}
{% include 'account/user/repository/_select_licenses.html' %}
{% include 'account/user/repository/_profile_settings_form.html' %}
{% include 'account/user/repository/_sword_settings_form.html' %}
{% include 'account/user/repository/_sword_status.html' %}
{% include 'account/user/_update_email.html' %}
{% include 'account/user/_update_password.html' %}


