{% extends "base.html" %} {% block content %}

<div class="row cms">
	<div class="col span-12">
		<aside class="article-full__callout">
			<h3>Details</h3>
			<p></p>
			<div>
				<strong>Last updated:</strong>
			</div>
			<div id="updated"></div>
			<p>{{ repo.last_updated }}</p>
			<div>
				<strong>Repository:</strong>
			</div>
			<div id="repository"></div>
			<p>{{ repo.repository }}</p>
			<div>
				<strong>Created date:</strong>
			</div>
			<div id="created"></div>
			<p>{{ repo.created_date }}</p>
			<div>
				<strong>Config-Id:</strong>
			</div>
			<div id="id">{{ repo.id }}</div>
		</aside>
	</div>
</div>
<div class="row">
	<div class="span col-12" id="container"></div>
</div>
<script>
var obj = JSON.parse({{ repo_json|tojson|safe }});

print_table = function(data,id,title){
	if(typeof data === "undefined"){
		return 0;
	}
	$('#container').append('<section\
			class="is-collapsible show_hide__container is-collapsible--button"\
			data-collapsible>\
			<h2 class="show_hide__trigger">'+title+'</h2>\
			<div class="show_hide__target">\
				<div class="cms">\
				<table id="'+id+'">\
						<tr>\
							<th>'+title+'</th>\
						</tr>\
				</table>\
				</div>\
			</div>\
		</section>\
		');
	
	for (variable in data) {
	$('#'+id+' tr:last').after('<tr>\
			<td>'+data[variable]+'</td> \
			</tr>');	
	}
}
if(obj.strings && obj.strings.length > 0) {
    print_table(obj.strings, 'strings', 'Strings');
}
if(obj.name_variants && obj.name_variants.length > 0) {
    print_table(obj.name_variants, 'name_variants', 'Name Variants');
}
// 2016-09-26 TD : 'postcodes' are taken out as match critria; esp. for Germany
// if(obj.postcodes.length > 0) {
// print_table(obj.postcodes,'postcodes', 'Postcodes');
// }
if(obj.domains && obj.domains.length > 0) {
    print_table(obj.domains, 'domains', 'Domains');
}
// 2016-09-26 TD : Additional listing of grant numbers if provided
if(obj.grants && obj.grants.length > 0) {
    print_table(obj.grants, 'grants', 'Grants');
}
if(obj.keywords && obj.keywords.length > 0) {
    print_table(obj.keywords, 'keywords', 'Keywords');
}
if(obj.institutional_identifier && obj.institutional_identifier.length > 0) {
    print_table(a, 'institutional_identifier', 'Institutional identifier');
}
if(obj.ringgolds && obj.ringgolds.length > 0) {
    print_table(a, 'ringgold', 'Ringgold');
}
if(obj.rors && obj.rors.length > 0) {
    print_table(a, 'ror', 'ROR');
}
if(obj.excluded_name_variants && obj.excluded_name_variants.length > 0) {
    print_table(obj.excluded_name_variants,'excluded_name_variants', 'Excluded Name Variants');
}
if(obj.excluded_keywords && obj.excluded_keywords.length > 0) {
    print_table(obj.excluded_keywords,'excluded_keywords', 'Excluded Keywords');
}
if(obj.excluded_domains && obj.excluded_domains.length > 0) {
    print_table(obj.excluded_domains,'excluded_domains', 'Excluded Domains');
}
</script>
{% endblock %}
