<div class="row line-space">
  <div class="col span-12">
    <dl class="dl-details">
      <dt>Date created:</dt>
      <dd>{{ rec.created_date }}</dd>
      <dt>Last updated:</dt>
      <dd>{{ rec.last_updated }}</dd>
      <dt>Publisher Id:</dt>
      <dd><a href="/account/{{ rec.publisher_id }}">{{ rec.publisher_id | safe }}</a></dd>
      {% if record.get('notification_states', [])|length > 0 %}
        {% for n_state in record['notification_states'] %}
          {% if n_state.get('notification_id', '') %}
            <dt>Notification ID:</dt>
            <dd><a href="/api/v1/notification/{{ n_state['notification_id'] }}">{{ n_state['notification_id'] }}</a></dd>
          {% endif %}
          {% if n_state.get('doi', '') %}
            <dt>DOI:</dt>
            <dd>{{ n_state['doi'] }}</dd>
          {% endif %}
        {% endfor %}
     {% endif %}
    </dl>
  </div>
</div>
<div class="row">
  <div class="span col-12" id="container">
    <!-- Sftp details -->
    {% with rec=rec, id='sftp_details', title='SFTP details' %}
      {% include "routing_history/view/_sftp_details.html" %}
    {% endwith %}
    <!-- file locations -->
    {% with rec=rec, id='file_locations', title='File locations' %}
      {% include "routing_history/view/_file_locations.html" %}
    {% endwith %}
    <!-- Workflow details -->
    {% with rec=rec, id='workflow', title='Workflow' %}
      {% include "routing_history/view/_workflow.html" %}
    {% endwith %}
  </div>
</div>
