<div class="row line-space">
  <div class="col span-12">
    <dl class="dl-details">
      <dt>Date created:</dt>
      <dd>{{ rec.created_date }}</dd>
      <dt>Last updated:</dt>
      <dd>{{ rec.last_updated }}</dd>
      <dt>Publisher:</dt>
      {% if rec.publisher_email and rec.publisher_id %}
        <dd><a href="/account/{{ rec.publisher_id }}">{{ rec.publisher_email | safe }}</a></dd>
      {% elif rec.get('publisher_id', '') %}
        <dd><a href="/account/{{ rec.publisher_id }}">{{ rec.publisher_id | safe }}</a></dd>
      {% endif %}
      {% for n_state in rec.notification_states %}
        {% if n_state.get('notification_id', '') %}
          <dt>Notification:</dt>
          <dd>
            {% if n_state.get('doi', '') %}
              <a href="/api/v1/notification/{{ n_state['notification_id'] }}">{{ n_state['doi'] }}</a>
            {% else %}
              <a href="/api/v1/notification/{{ n_state['notification_id'] }}">{{ n_state['notification_id'] }}</a>
            {% endif %}
            {% if n_state['status'] == 'failure' %}
              | error
            {% elif n_state['number_matched_repositories'] > 0 %}
              | routed - matched {{ n_state['number_matched_repositories'] }}
            {% else %}
              | failed
            {% endif %}
          </dd>
        {% endif %}
        {% if n_state.get('doi', '') %}
          <dt>DOI:</dt>
          <dd>{{ n_state['doi'] }}</dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
</div>
<div class="row">
  <div class="span col-12" id="container">
    <!-- Sftp details -->
    {% with rec=rec, id='sftp_details', title='SFTP details' %}
      {% include "routing_history/view/_sftp_details.html" %}
    {% endwith %}
    <!-- file locations -->
    {% with rec=rec, id='file_locations', title='File locations' %}
      {% include "routing_history/view/_file_locations.html" %}
    {% endwith %}
    <!-- Notification details -->
    {% with rec=rec, id='notifications', title='Notifications' %}
      {% include "routing_history/view/_notification.html" %}
    {% endwith %}
    <!-- Workflow details -->
    {% with rec=rec, id='workflow', title='Workflow' %}
      {% include "routing_history/view/_workflow.html" %}
    {% endwith %}
  </div>
</div>
