<button class="accordion">{{ title }}</button>
<div class="panel">
  <table id="{{ id }}">
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Message</th>
    </tr>
    {% for workflow in rec.workflow_states %}
      <td>
        {% set dts = workflow['date'].split('T') %}
        <span title="{{ workflow['date'] }}">{{ dts[-1].strip('Z') }}</span>
      </td>
      <td>
        {% if workflow['status'] == 'success' %}
          <span style="color:green">{{"&check;" | safe }}</span>
        {% else %}
          <span style="color:red">x</span>
        {% endif %}
        {{ workflow['action']}}
      </td>
      <td>
        {{ workflow.get('message', '') }}
      </td>
    {% endfor %}
  </table>
</div>